<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>Collapsible sidebar using Bootstrap 3</title>

    <!-- Bootstrap CSS CDN -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <!-- Our Custom CSS -->
    <link rel="stylesheet" href="/admin.css">
    <!-- Scrollbar Custom CSS -->
    <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.min.css">


</head>

<body>

    <div class="wrapper">
        <!-- Sidebar Holder -->
        <nav id="sidebar">
            <div class="sidebar-header">
                <i class="bi bi-person-circle"></i>
                <h3>usuarios dmin</h3>
                </h3>
            </div>

            <ul class="list-unstyled components">
                <li class="active">
                    <button class="dropdown-btn">Accesos
                        <i class="fa fa-caret-down"></i>
                    </button>
                    <div class="dropdown-container">
                        <a href="/login/view">Usuarios</a>
                        <a href="/login/roles">Roles</a>
                    </div>



                </li>
                <br>
               
                <li>
                    <button class="dropdown-btn">Productos
                        <i class="fa fa-caret-down"></i>
                    </button>
                    <div class="dropdown-container">
                        <a href="/product/view">Productos</a>
                        <a href="/Categorias/view">Categorias</a>
                    </div>
                </li>
                <br>
               
                <li>
                    <button class="dropdown-btn">Ventas
                        <i class="fa fa-caret-down"></i>
                    </button>
                        <div class="dropdown-container">
                        <a href="/Pedidos/view">Pedidos</a>
                    </div>
                </li>
                <br>
               
                <li >
                    <button class="dropdown-btn">Noticias
                        <iclass="fa fa-caret-down"></i>

                                            </button>

                           <div class="dropdown-container">
                        <a href="/Noticias/view">Noticias</a>
                    </div>

                </li>
                <br>
                  <li>
                    <button class="dropdown-btn">Reservaciones
                        <i class="fa fa-caret-down"></i>
                    </button>
                    <div class="dropdown-container">
                        <a href="/Reser/view">Reservaciones</a>
                    </div>
                </li>
               
                <br>
                <li>
                    <button class="dropdown-btn">Eventos
                        <i class="fa fa-caret-down"></i>
                    </button>
                        <div class="dropdown-container">
                        <a href="/event/view">Eventos</a>
                        <a href="/event/Categoria">Tipos de eventos</a>
                    </div>
                </li>
                <br>

                <li>
                    <button class="dropdown-btn">
                         Direcciones
                                                <i class="fa fa-caret-down"></i>
                    </button>
                    <div class="dropdown-container">
                        <a href="/Direcciones/view">Direccioness</a>
                    </div>
                </li>
               

            </ul>
            <script>
                var dropdown = document.getElementsByClassName("dropdown-btn");
                var i;

                for (i = 0; i < dropdown.length; i++) {
                    dropdown[i].addEventListener("click", function () {
                        this.classList.toggle("active");
                        var dropdownContent = this.nextElementSibling;
                        if (dropdownContent.style.display === "block") {
                            dropdownContent.style.display = "none";
                        } else {
                            dropdownContent.style.display = "block";
                        }
                    });
                }
            </script>



        </nav>

        <!-- Page Content Holder -->
        <div id="content">

            <nav class="navbar navbar-default">
                <div class="container-fluid">

                    <div class="navbar-header">
                        <button type="button" id="sidebarCollapse" class="btn btn-info navbar-btn">
                            <i class="glyphicon glyphicon-align-left"></i>
                            <span>Toggle Sidebar</span>
                        </button>
                    </div>





  <div class="container marketing">
     <br><div class="row">
      <div class="col-lg-4">
         <strong class="d-inline-circle mb-2 text-primary">
          <img class="btd-placeholder-img rounded-circle"  src=""  style="height: 150px;" alt="" >
        <a href="/product/view" class="stretched-link"></a></strong>
        <h2>productos</h2>
        <p><a  class="btn btn-primary" href="https://themes.getbootstrap.com/preview/?theme_id=50603" role="button">Ir al sitio&raquo;</a></p>
      </div>
      <div class="col-lg-4">
         <strong class="d-inline-circle mb-2 text-primary">
          <img class="btd-placeholder-img rounded-circle"   src=""  style="height: 150px;"  alt="" srcset="" >
         <a href="/event/view" class="stretched-link"></a></strong>
        <h2>Eventos</h2>
          <a class="btn btn-primary" href="h " role="button">Ir al sitio</a>      </div>
                <div class="col-lg-4">
         <strong class="d-inline-circle mb-2 text-primary">
          <img class="btd-placeholder-img rounded-circle"   src=""  style="height: 150px;"  alt="" srcset="" >
         <a href="/Noticias/view" class="stretched-link"></a></strong>
        <h2>Noticias</h2>
          <a class="btn btn-primary" href=" " role="button">Ir al sitio</a>      </div>
      </div>
      </div>
      <div class="container marketing">
     <br><div class="row">
      <div class="col-lg-4">
         <strong class="d-inline-circle mb-0 text-primary">
          <img class="btd-placeholder-img rounded-circle"  src=""  style="height: 120px;" alt="" >
        <a href="/login/view" class="stretched-link"></a></strong>
        <h2>Accesos</h2>
        <p><a class="btn btn-primary" href="" role="button">Ir al sitio&raquo;</a></p>
      </div>
      <div class="col-lg-4">
         <strong class="d-inline-circle mb-2 text-primary">
          <img class="btd-placeholder-img rounded-circle"   src=""  style="height: 150px;"  alt="" srcset="" >
         <a href="/Reser/view" class="stretched-link"></a></strong>
        <h2>Reservaciones</h2>
          <a class="btn btn-primary" href="  " role="button">Ir al sitio</a>    
     </div>

      </div>
      </div>
</body>

</main>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
      <script>window.jQuery || document.write('<script src="/docs/4.5/assets/js/vendor/jquery.slim.min.js"><\/script>')</script><script src="/docs/4.5/dist/js/bootstrap.bundle.min.js" integrity="sha384-LtrjvnR4Twt/qOuYxE721u19sVFLVSA4hf/rRt6PrZTmiPltdZcI7q7PXQBYTKyf" crossorigin="anonymous"></script></body>





                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                        <ul class="nav navbar-nav navbar-right">
                            <li><a href="#">Page</a></li>
                        </ul>
                    </div>
                </div>
            </nav>


        </div>
    </div>





    <!-- jQuery CDN -->
    <script src="https://code.jquery.com/jquery-1.12.0.min.js"></script>
    <!-- Bootstrap Js CDN -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <!-- jQuery Custom Scroller CDN -->
    <script
        src="https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.concat.min.js"></script>

    <script type="text/javascript">
        $(document).ready(function () {


            $('#sidebarCollapse').on('click', function () {
                $('#sidebar, #content').toggleClass('active');
                $('.collapse.in').toggleClass('in');
                $('a[aria-expanded=true]').attr('aria-expanded', 'false');
            });
        });
    </script>


</body>

</html>